@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.jogo {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 59px 43px 0 39px;
}

.jogo img {
    width: 400px;
    height: 467px;
}

.jogo div {
    width: 800px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end;
    padding: 30px 50px 0 0;
}

.jogo div button {
    background-color: #27AE60;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    width: 200px;
    height: 60px;
}

.jogo div button:hover {
    cursor: pointer;
}

.jogo div p {
    color: #000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    margin-top: 252px;
}

.letras {
    width: 800px;
    margin: 70px auto 56px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras ul {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.letras ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras button.disabled {
    background-color: #9FAAB5;
    color: #39739D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
.letras button.abled{
    background-color: #E1ECF4;
    color: #39739D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}